
.wrapper {
  background-color: rgba(154, 236, 184, 0.199);
  width: 50%;
  margin: auto;
  text-align: center;
  height: 500px;
}


.form-wrapper input {
  width: 300px;
  height: 30px;
  margin: 10px;
  border-radius: 5px;
}

.form-wrapper button {
  width: 300px;
  height: 30px;
  margin-top: 30px;
  background-color: rgb(73, 148, 73);
  color: white;
  font-size:20px;
  cursor: pointer;
}

.errorMessage{
  color:red;
  font-size: 12px;
}
